
header.big-sur-river-inn {
  background: url("../images/headers/big-sur-river-inn.jpg");
  background-position: 50%;
}

header {
  .explain {
    margin: auto;
    padding-top: 30px;
    font-size: 150%;
  }
}