header.redwoods {
  background: url("../images/headers/redwoods.jpg");
}

header {
  .date, .location {
    margin: auto;
    padding: 0px;
    font-size: 120%;
  }
  .location {
    font-size: 190%;
  }

  .rsvp-button {
    margin-top: 10px;
    background: #837457;
    //display: none;
  }
  .rsvp-button:hover {
    background: darken(#837457, 10%);
  }

  }