header.big-sur-coast {
  background: url("../images/headers/big-sur-coast.jpg");
  background-position: 50%;

  h2, p {
    text-shadow: 2px 2px 2px rgba(0,0,0,.4);
  }
}

header .button {
  text-shadow: none;
}