<style></style>
<template>

    <div class="add_member callout">
        <h4 v-if="mode == 'both'">Add Party Member</h4>
        <h4 v-else>Add {{ mode | capitalize }}</h4>
        <div v-if="admin == false" class="callout primary">
            <small>If there are more than 2 adult guests in your party, please contact us directly at <a
                    href="mailto:alexacterhorst@gmail.com">alexacterhorst@gmail.com.</a>.</small>
        </div>
        <input type="text" v-model="new_member_name" placeholder="Name of person" />
        <div v-if="mode == 'both'">
            <input type="radio" id="inv_type" value="adult-inv" v-model="new_member_type" checked> <label for="inv_type">Adult</label>
            <input type="radio" id="child_type" value="child" v-model="new_member_type"> <label for="child_type">Child</label>
        </div>
        <div v-if="mode == 'adult'">
            <input type="radio" id="inv_type" value="adult-inv" v-model="new_member_type" checked> <label for="inv_type">Adult</label>
        </div>
        <div v-if="mode == 'child'">
            <input type="radio" id="child_type" value="child" v-model="new_member_type" checked> <label for="child_type">Child</label>
        </div>
        <br>
        <button class="button secondary" @click="addMember">Add</button>
    </div>

</template>

<script>
    function guid() {
        return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
                s4() + '-' + s4() + s4() + s4();
    }

    function s4() {
        return Math.floor((1 + Math.random()) * 0x10000)
                .toString(16)
                .substring(1);
    }

    var members_url = '/rsvp/members';
    var addMember = function(member, party_id) {
        $.post(
                members_url,
                member,
                function(result) {
                    console.log('Added member: '+member.name+' as '+member.type);
                }
        );
    }

    export default {

        props: ['party', 'confirmOnAdd', 'mode', 'admin'],

        data () {
            return {
                new_member_name: '',
                new_member_type: 'adult-inv',
            }
        },

        methods: {
            addMember: function () {
                if (this.new_member_name != '' && this.new_member_type != '') {

                    var member = {
                        name: this.new_member_name,
                        type: this.new_member_type,
                        party_id: this.party.id,
                        rsvp_response: this.confirmOnAdd ? 'confirmed' : null,
                        id: guid()
                    };

                    addMember(member, this.party.id)
                    this.party.members.push(member);

                    this.new_member_name = '';
                    if(mode == 'both' || mode == 'adult') {
                        this.new_member_type = 'adult-inv';
                    }
                    else {
                        this.new_member_type = 'child';
                    }
                }
            },
        }
    }
</script>