<style></style>

<template>

    <div class="row">
        <h2>{{ party.name }} Party</h2>
        <div class="medium-6 columns" id="member_container">
            <party-members :party-members=party.members></party-members>
            <add-member-form :admin=true :party="party" :confirm-on-add=false mode="both"></add-member-form>
        </div>
        <div class="medium-6 columns">
            <party-detail-form :party="party" :admin=true></party-detail-form>
        </div>
    </div>

</template>

<script>
    var $ = require('jquery');
    var Foundation = require('foundation-sites');
    $(document).foundation();

    import PartyMembers from './PartyMembers.vue'
    import AddMemberForm from './AddMemberForm.vue'
    import PartyDetailForm from './PartyDetailForm.vue'
    export default {

        components: {
            PartyMembers,
            AddMemberForm,
            PartyDetailForm
        },

        props: ['partyId'],

        data () {
            return {
                party: {},
                dropdown: ''
            }
        },
        created () {
            var self = this;
            $.get('/api/rsvp/parties/'+this.partyId, {}, function(data) {
                self.party = data;
                console.log(self.party);
            }, 'json');
        },

        events: {
            'party_details_updated': function() {
                console.log('updated party details');
                window.location = '/manage/view-all';
            },
            'party_member_removed': function(member) {
                this.party.members.$remove(member);
                console.log('removed party member: '+member.id);
            }
        }
    }





    //    import CompA from './components/a.vue'
//    import CompB from './components/b.vue'
//    import Counter from './components/counter.vue'
//    export default {
//        data () {
//            return {
//                msg: 'Hello Vueify'
//            }
//        },
//        components: {
////            CompA,
////            CompB,
////            Counter
//        }
//    }
</script>