<style src="../../../../node_modules/font-awesome/css/font-awesome.css"></style>
<style>
    .member-item {
        padding: 10px;
        font-weight: bold;
        background: #CCC;
        margin-bottom: 5px;
        color: #FFF;
        overflow: hidden;
    }

    .member-item.confirmed {
        background: #3ADB76;
    }

    .member-item.regret {
        background: #EC5840;
        color: #FFF;
    }

    .member-item .response {
        font-size: 75%;
        font-weight: normal;
    }

    .member-items {
        list-style: none;
        margin: 0;
        padding: 0;
        cursor: pointer;
    }

    .dropdown-pane {
        background: #DDD;
        color: #222;
        box-shadow: 5px 5px 5px rgba(0,0,0,.3);
    }

</style>

<template>

    <ul class="member-items">
        <li v-for="member in members" @click="openResponseDropdown(member)" data-toggle="response-dropdown-{{ member.id }}">
            <div class="member-item" v-bind:class="{ confirmed: member.rsvp_response == 'confirmed', regret: member.rsvp_response == 'regret' }">
                <div style="float:left; margin-right: 10px">
                    <i class="fa fa-3x" v-bind:class="{ 'fa-check-circle': member.rsvp_response == 'confirmed', 'fa-ban': member.rsvp_response == 'regret', 'fa-question-circle': member.rsvp_response == null }"></i>
                </div>
                <div style="float:left">
                    <div>{{ member.name | truncate 30 }}</div>
                    <div class="response">
                        <button type="button">{{ member.rsvp_response | rsvpResponse }}</button>
                        <div class="dropdown-pane" id="response-dropdown-{{ member.id }}" data-dropdown>
                            <strong>Set person as:</strong><br>
                            <a href="#" class="small expanded button success" @click.prevent="updateConfirmation(member, 'confirmed')">Confirmed</a>
                            <a href="#" class="small expanded button alert" @click.prevent="updateConfirmation(member, 'regret')">Regret</a>
                            <a href="#" class="small expanded button secondary" @click.prevent="updateConfirmation(member, null)">Unconfirmed</a>
                        </div>
                    </div>
                </div>
                <div style="float: right; cursor: pointer; font-size: 140%" @click="removeMember(member)">&times;</div>
                <div style="clear: both;"></div>
            </div>
        </li>
    </ul>

</template>

<script>
    var members_url = '/rsvp/members';

    var removeMember = function(uuid) {
        $.ajax({
            method: 'DELETE',
            url: members_url,
            data: {
                member_id: uuid
            }
        });
    }

    var updateConfirmation = function(memberUuid, response) {

        if(response == null) {
            response = 'unconfirmed';
        }

        $.ajax({
            method: 'PUT',
            url: members_url+'/'+memberUuid,
            data: {
                rsvp_response: response
            }
        });
    }


    export default {
        props: ['members'],

        methods: {
            removeMember: function(member) {
                if(confirm('Are you sure you want to remove "'+member.name+'"?')) {
                    removeMember(member.id);
                    this.$dispatch('party_member_removed', member);
                }
            },
            updateConfirmation: function(member, rsvpResponse) {
                if(rsvpResponse == 'confirmed' || rsvpResponse == 'regret' || rsvpResponse == null) {
                    member.rsvp_response = rsvpResponse;
                    updateConfirmation(member.id, rsvpResponse)
                }
                $('#response-dropdown-'+member.id).foundation('close');
            },
            openResponseDropdown: function(member, e) {
                $('.dropdown-pane').removeClass("is-open").css("left", "-99999px");

                var dropdown = new Foundation.Dropdown($('#response-dropdown-'+member.id));
            }
        }

    }
</script>