<template>

    <label>Party Name</label>
    <input type="text" v-model="party.name">
    <label>Phone Number</label>
    <input type="text" v-model="party.phone">
    <!--<label>Address</label>-->
    <!--<input type="text" v-model="party.address">-->
    <label>E-Mail Address</label>
    <input type="text" v-model="party.email">
    <label>Special Dietary Restrictions and Other Notes:</label>
    <textarea v-if="admin" readonly>{{ party.public_notes }}</textarea>
    <textarea v-else v-model="party.public_notes"></textarea>
    <div v-if="admin">
        <label>Notes (only you can see this)</label>
        <textarea v-model="party.private_notes"></textarea>
        <input type="checkbox" value="1" v-model="party.recieved_std">
        <label class="">Recieved Save the Date</label><br>
        <input type="checkbox" value="1" v-model="party.recieved_invite">
        <label class="">Recieved Invitation</label>
    </div>

    <hr>

    <button v-if="admin" class="button primary" @click="updatePartyDetails(party)">Save Party Details</button>
    <button v-else class="button primary" @click="updatePartyDetails(party)">Submit RSVP</button>

</template>

<script>

    var party_url = '/rsvp/parties';
    var updatePartyDetails = function(party) {
        console.log(party.recieved_invite);
        $.ajax({
            method: 'PUT',
            url: party_url+'/'+party.id,
            data: {
                party_object: party
            },
            success: function(data) {
                console.log(data);
            }
        });
    }

    export default {
        props: ['party', 'admin'],

        methods: {
            updatePartyDetails: function(party) {
                updatePartyDetails(party);
                this.$dispatch('party_details_updated');
            }
        }
    }

</script>