<style></style>

<template>

    <h4>Adults</h4>
    <member-list :members="adults"></member-list>
    <div v-if="children.length > 0">
        <h4>Children</h4>
        <member-list :members="children"></member-list>
    </div>

</template>

<script>
    import MemberList from './MemberList.vue'

    export default {
        props: ['partyMembers'],

        components: {
            MemberList
        },

        data () {
            return {
            }
        },

        computed: {
            adults: function() {
                if(this.partyMembers) {
                    return this.partyMembers.filter(function(member) {
                        return member.type == 'adult-inv' || member.type == 'adult-p1'
                    });
                }
                return [];
            },
            children: function() {
                if(this.partyMembers) {
                    return this.partyMembers.filter(function(member) {
                        return member.type == 'child'
                    });
                }
                return [];
            }
        }
    }

</script>