<style>
    .callout label {
        color: #222;
    }
</style>
<template>

    <div class="row">
        <h2>{{ party.name }} Party RSVP</h2>
        <div class="callout">
            <p>Please select each person to RSVP for the wedding & reception.</p>
            <p>Please note any important allergy information in the "Special Dietary Restrictions and Other Notes" box.</p>
        </div>
        <div class="medium-6 columns" id="member_container">

            <party-members :party-members=party.members></party-members>
            <add-member-form :admin=false :party="party" :confirm-on-add=true :mode="addMode"></add-member-form>

        </div>
        <div class="medium-6 columns">
            <party-detail-form :party="party" :admin=false></party-detail-form>
        </div>
    </div>

</template>

<script>

    var $ = require('jquery');
    var Foundation = require('foundation-sites');
    $(document).foundation();


    import PartyMembers from './PartyMembers.vue'
    import AddMemberForm from './AddMemberForm.vue'
    import PartyDetailForm from './PartyDetailForm.vue'
    export default {

        components: {
            PartyMembers,
            AddMemberForm,
            PartyDetailForm
        },
        props: ['partyId'],
        data () {
            return {
                party: {},
                dropdown: ''
            }
        },

        computed: {
            addMode: function() {
                console.log(this.adults.length);
                if(this.party.allow_plus_one && this.adults.length < 2) {
                    return 'both';
                }
                return 'child'
            },
            adults: function() {
                if(this.party.members) {
                    return this.party.members.filter(function(member) {
                        return member.type == 'adult-inv' || member.type == 'adult-p1'
                    });
                }
                return [];
            },
            unconfirmed: function() {
                if(this.party.members) {
                    return this.party.members.filter(function(member) {
                        return member.rsvp_response == 'unconfirmed' || member.rsvp_response == null
                    });
                }
                return [];
            }
        },

        created () {
            var self = this;
            $.get('/api/rsvp/parties/'+this.partyId, {}, function(data) {
                self.party = data;
            }, 'json');
        },

        events: {
            'party_details_updated': function() {
                if(this.unconfirmed.length < 1) {
                    console.log('updated party details');
                    window.location = '/rsvp/'+this.party.id+'/thank-you';
                    return;
                }
                alert('There are unconfirmed guests in your party. Please "confirm" or "regret" all guests in your party.')
            },
            'party_member_removed': function(member) {
                this.party.members.$remove(member);
                console.log('removed party member: '+member.id);
            }
        }

    }


</script>