body {
  font-family: 'Georgia', 'Times New Roman', sans-serif;
  color: #FEFEFE;
}

h1, h2, h3 {
  text-align: center;
  font-family: 'Amatic SC', sans-serif;
  font-weight: 700;
}

h2 {

}

h3 {
  font-size: 280%;
}

h4 {
  font-family: "Georgia", "Times New Roman", sarif;
}

header {
  width: 100%;
  background-size: contain;
  background-position: center;
  height: 912px;
  color: #fefefe;
  text-align: center;
  font-family: 'Georgia', 'Times New Roman', sans-serif;
  font-size: 120%;
  margin-bottom: -50px;

  .menu {
    background: rgba(0,0,0,.35);
    a {
      color: #FEFEFE;
    }
    a:hover {
      background: rgba(0,0,0,.35);
    }
  }

  h2.title {
    padding-top: 150px;
    //position: relative;
    //top: 200px;
    font-size: 640%;
    font-family: 'Amatic SC', sans-serif;
    //font-family: 'Amiri', sans-serif;
    font-weight: 700;
    line-height: 85%;

    .sub {
      font-size: 40%;
      font-weight: 400;
      display: block;
    }
  }

  hr {
    width: 250px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}